$divide: 50px;

.feed {
	text-align: center;
	overflow: hidden;
}

.feed-more {
	font-size: 12pt;
	text-align: right;
	margin: 30px 0 30px 0;
	font-style: italic;
}

body {
	background-color: #E4E4E4;
}

.cover {
	height: 300px;
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-bottom: $divide;

	perspective: 2000px;
	-webkit-perspective: 2000px;

	img {
		width: 100%;
		height: 100%;
	}

	@include media($screen-large) {
		height: 700px;
		width: 700px;
	}
}

.insta-photo, .cover {
	.paralax {
		opacity: 0;
		height: 100%;
		width: auto;
		@include transition(all 0.2s);
		@include box-shadow();
	}
}

.insta-photo {

	height: 300px;
	width: 300px;
	margin: 0 auto;
	display: inline-block;

	perspective: 1000px;
	-webkit-perspective: 1000px;

	@include media($screen-large) {
		float: left;
	}

	&.ip {

		margin: 25px;

		@include media($screen-large) {
			margin: 0 $divide $divide 0;
			height: 200px;
			width: 200px;

			&:nth-of-type(3n) {
				margin: 0;
			}

			&:nth-of-type(1) {
				height: 450px;
				width: 450px;
				margin: 0 $divide $divide 0;
			}

			&:nth-of-type(2) {
				margin: 0;
				margin-bottom: $divide;
			}
			&:nth-of-type(3) {
				margin: 0;
				margin-bottom: 0;
			}
			&:nth-of-type(4) {
				margin: 0 $divide $divide 0;
			}
			&:nth-of-type(5) {
				margin: 0 $divide $divide 0;
			}
			&:nth-of-type(6) {
				margin: 0 0 $divide 0;
			}
		}
	}
}
