.global-container {

	min-height: 100vh;
	width: 90%;

	@include media($screen-small) {
		max-width: $sidebar-size + 700px;
		margin: 0 auto;
		display: block;
	}

	@include media($screen-full) {
		max-width: (2 * $sidebar-size) + 700px;
		padding-right: $sidebar-size;
	}
}

.content {
	margin: 0;
	min-height: 100vh;

	@include media($screen-small) {
		margin-left: $sidebar-size;
	}
}

.left {
	float: left;
	display: inline-block;

	@include media ($screen-large) {
		float: none;
	};
}

.right {
	float: right;
	display: inline-block;

	@include media ($screen-large) {
		float: none;
	};
}
