.content {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	display: block;
	@include media($mobile) {
		width: 90%;
	}
}

section {
	margin-top: $nav-height;
}


// OLD

nav {
	width: 100%;
	position: fixed;
	z-index: 10;
	@include media($mobile) {
		position: absolute;
	}

	top: 0;
	left: 0;
	padding: 10px;
	@include media($mobile) {
		padding-left: 0;
	}
}


.left {
	float: left;
	display: inline-block;

	@include media ($little-screen) {
		float: none;
	};
}

.right {
	float: right;
	display: inline-block;

	@include media ($little-screen) {
		float: none;
	};
}
