// ****************
// INJECTED WORDPRESS CONTENT
// ****************

.inject {
	@include read;

	mrgin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;

	ul {
		list-style: square;
		list-style-position: inside;		
	}

	ol {
		padding-left: 20px;
		list-style: decimal;
		list-style-position: inside;
	}

	hr {
		border: 0;
		height: 2px;
		background-color: $black;
		width: 75px;
	}

	p {
		line-height: 18pt;
		margin-top: 20px;
		margin-right: 20px;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: 400;
	}

	h1 {
		@include sans(22pt, 600);
		
	}

	h2 {
		@include sans(20pt, 600);
	}

	h3 {
	@include sans(18pt, 600);
	}


	a {
		text-decoration: underline;
		color: inherit;
		&:hover {
			color: $hover;
		}
	}

	&.tour {
		p {
			margin-top: 5px;
		}

		text-align: center;
	}

	.wp-caption-text {
		margin-top: 0;
		font-style: italic;
		color: $light-text;
		font-size: 11pt;
	}

	blockquote {	
		font-style: italic;
		color: $light-text;
		padding-left: 15px;
		border-left: 2px solid $light-text;
		margin-right: 40px;

		@include media($mobile) {
			padding-left: 0;
			border-left: 0;
			margin-right: 0;
		}
	}
}

