// ****************
// INJECTED WORDPRESS CONTENT
// ****************

.inject {
	@include read;

	margin-top: 20px;
	margin-bottom: 20px;
	// text-align: left;

	hr {
		border: 0;
		height: 1px;
		background-color: $black;
	}

	p {
		line-height: 18pt;
		margin-top: 20px;
		margin-right: 20px;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: 400;
	}

	h1 {
		@include sans(22pt, 600);
		
	}

	h2 {
		@include sans(20pt, 600);
	}

	h3 {
	@include sans(18pt, 600);
	}

	ul {
		padding-left: 20px;
		list-style: square;
	}

	ol {
		list-style: decimal;
		padding-left: 20px;
	}

	a {
		text-decoration: underline;
		color: inherit;
		&:hover {
			color: $hover;
		}
	}

	.wp-caption-text {
		margin-top: 0;
		font-style: italic;
		color: $light-text;
		font-size: 11pt;
	}

	blockquote {
		text-align: left;
		font-family: 'Roboto Slab';
		font-style: italic;
		color: $light-text;
		padding-left: 15px;
		border-left: 2px solid $light-text;
		margin-right: 40px;
	}
}