#title {
	@include bkg('../images/cover.jpg');
}
#tour {
	@include bkg('../images/tour.jpg');
}
#music {
	background-color: #65687A; /* #1C1C1E; */
}
#videos {
	background-color: #272822;
}
#blog {
	background-color: red;
}
#contact {
	background-color: white;
}

// **************
// NAVIGATION
// **************

a {
	@include transition(all 0.2s);
	&:hover {
		color: $hover;
	}
}

nav {
	background-color: white;
}

nav ul li {
	float: left;

	a {
		color: $black;
		@include sans(12pt,500);
		line-height: 18pt;
		text-decoration: none;
		display: block;

		&.active {
			color: $hover;
		}
	}
}

.right ul li a {
	margin-left: $link-margin;

	@include media($little-screen) {
		margin-left: 0;
		margin-right: $link-margin;
	};
}

.left ul li a {
	margin-right: $link-margin;
}

// ************
// TITLE
// ************

.main-title {
	@include sans(52pt,700);
	float: right;
	width: 50%;
	text-transform: capitalize;
	text-align: right;
	color: white;
}

.title-info {
	@include media($mobile) {
		display: none;
	};
}

.nav-title {

	h1 {
		@include sans(13pt, 700);
		line-height: 18pt;
	}

	display: none;
	@include media($mobile) {
		display: block;;
	}
}

aside, article {
	width: 50%;
	display: inline-block;
	float: left;

	@include media($little-screen) {
		width: 100%;
	}
}

.notfound {
	@include sans(18pt,300);
	color: $black;
	margin-top: 50px;
}

@mixin about-fit {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	z-index: -1;
};

// ******************
// ABOUT SECTION
// ******************

.about-article-bgk {
	@include about-fit();
	left: 0;
	background-color: #D0CECF;

	@include media($little-screen) {
		width: 100%;
	}
}

.about-img-container {
	@include about-fit();
		
	right: 0;
	overflow: none;
	@include bkg("../images/aboutimg.jpg");

	@include media($little-screen) {
		display: none;
	}
}

// ********************
// MUSIC SECTION
// ********************

.newalbum {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.bandcamp {
	margin: 0 auto;
	height: 120px;
	width: 400px;
}