// colors

$black: #333333;
$hover: #33b5e5;

// screen sizes

$mobile: 345px;

@mixin sans($size, $weight) {
	font-family: Roboto Slab, Helvetica, sans-serif;
	font-weight: $weight;
	font-size: $size;
}

@mixin read {
	@include sans(14pt,300);
}
