// colors
$black: #333333;
$hover: #33b5e5;

// screen sizes
$mobile: max-width 480px;
$little-screen: max-width 768px;

$link-padding: 20px;

@mixin sans($size, $weight) {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-weight: $weight;
	font-size: $size;
}

@mixin read {
	font-family: Roboto, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14;
}


@mixin bkg($img) {
	background-image: url($img);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #D9DADC;
}
