/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */
/**
 * Burger
 */
/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: Helvetica;
  background-color: navy;
  margin-top: 100px; }

header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  header ul {
    padding: 10px; }
  header li {
    font-family: Perpetua;
    font-size: 24pt;
    margin: 15px 0 15px 0;
    text-transform: uppercase; }
  header a {
    color: grey;
    text-decoration: none; }
    header a:hover {
      color: black; }

header.closed {
  height: 75px; }
  header.closed .footer {
    opacity: 0; }

header.open {
  height: 100%; }
  header.open .footer {
    opacity: 1; }

.burger-house {
  position: fixed;
  top: 0;
  right: 0;
  height: 25px;
  margin: 25px; }
  .burger-house:hover {
    cursor: pointer; }

.burger {
  position: absolute;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px; }
  .burger, .burger:before, .burger:after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .burger:before, .burger:after {
    position: absolute;
    content: ""; }
  .burger:before {
    top: -8px; }
  .burger:after {
    top: 8px; }

.burger-closed > .burger {
  background-color: transparent; }
.burger-closed > .burger:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
.burger-closed > .burger:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }

.social {
  font-size: 16	pt;
  padding: 15px; }
  .social hr {
    width: 100px;
    height: 1px;
    border: 0;
    background-color: black; }

.footer {
  height: 75px;
  line-height: 75px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  .footer hr {
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: black;
    border: 0;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (max-width: 480px) {
      .footer hr {
        width: 50px; } }
  .footer h1 {
    font-family: Perpetua;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18pt; }
    @media screen and (max-width: 480px) {
      .footer h1 {
        font-size: 14pt; } }

.open > .footer {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.header-container {
  height: calc(100% - 150px); }

.title {
  font-family: Perpetua;
  font-size: 32pt;
  height: 75px;
  line-height: 75px;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 18pt; } }

.outer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer::after {
    clear: both;
    content: "";
    display: table; }

form h2 {
  font-family: Helvetica;
  color: white;
  font-size: 18pt; }

/*# sourceMappingURL=app.css.map */
