<div class="content">
	<div class="sec">
		<h2 class="section-title">ABOUT</h2>
		<hr class="small-rule">
	</div>
	<aside>
		<div class="center">
			<img class="about-img" src="/img/3.jpg">
		</div>
	</aside>
	<article>
		<P><span class="bold">John Patrick Halling</span> (born October 9, 1991) is an American singer-songwriter from <span class="bold">Akron, OH</span>. The indie-folk rocker is quickly turning heads with his most recent release.</P>

		<p><span class="italic">“Boy in the Water”</span>(2015) offers a refreshing take on a <span class="bold">vintage sound</span>. Showcasing his variability, the songsmith seamlessly transitions from classic country to raunchy barroom blues. Carried through a sea of <span class="bold">memorable melodies</span> and <span class="bold">cleverly-crafted hooks</span>, the album lands gently with a hauntingly beautiful ballad.</p>

		<p>Blending together a variety of folk, rock, and country influences, Halling transforms them into a sound entirely his own. His knack for storytelling is evident within his <span class="bold">honest</span> and <span class="bold">poignant</span> thoughts on life in the twenty-first century. With equal parts cynicism and romantic wit, his collection of songs reflects on all the troubles that come with love, loss, lust, and temptation - spoken by the voice of someone who lived to tell the tale. </p>

		<p>Born in Kansas City, KS, Halling and his family relocated to North East Ohio in 2001. At age 13, he was given his first guitar. Following his high school graduation, Halling started writing and performing while attending Kent State University - where he studied Anthropology. Several years of both personal and musical development eventually lead to his breakaway as a solo artist in 2013.</p>

		<p>A local favorite, Halling’s <span class="bold">raw and emotional performances</span> create a meaningful connection with listeners. Whether with his band, or just his guitar, <span ="bold">his distinct voice and high-energy</span> folk songs quickly capture the attention of audience members. With a nationwide tour in support of his new record scheduled for Summer 2015, this up-and-comer is a must see!</p>

		<p><span class="bold">For fans of:</span> Ryan Adams, Jason Isbell, The Kooks, Tom Petty, Butch Walker, and Brett Dennen.</p>
	</article>
</div>