<div class="content">
	<div class="sec">
		<h2 class="section-title">ABOUT</h2>
		<hr class="small-rule">
	</div>
	<aside>
		<div class="center">
			<img class="about-img" src="/img/3.jpg">
		</div>
	</aside>
	<article>
		<P>John Patrick Halling (born October 9, 1991) is an American singer-songwriter from Akron, OH. The indie-folk rocker is quickly turning heads with his signature voice and Midwestern charm.</P>

		<p>His most recent endeavor “Boy in the Water” (2015) offers a uniquely modern twist to a vintage sound. Showcasing his variability, the songsmith seamlessly transitions from classic country to raunchy barroom blues. Carried through a sea of memorable melodies and cleverly-crafted hooks, the album lands softly with a hauntingly beautiful ballad. </p>

		<p>Halling frequently gigs a variety of venues throughout the state. The sound of his high-energy folk songs create an enjoyable atmosphere while his raw and emotional performances develop a deeper connection with listeners.</p>

		<p>He has a knack for storytelling. His honest and poignant thoughts on life in the twenty-first century speak 
		of experiences in love, lust, and temptation with a refreshing balance of both cynicism and romantic whit. </p>

		<p>Born in Kansas City, KS, his family relocated to North East Ohio in 2001. At age 13, he received his first guitar. Following his high school graduation, Halling began writing songs at Kent State University - where he studied Anthropology. Halling’s alt-country sound developed over several previous projects, leading to his breakout as a solo artist in 2013. </p>

		<p>With “Boy in the Water” scheduled for release on March 31, 2015 and plans for a nation-wide tour this summer, the ceiling looks high for this young, talented troubadour.</p>


		<p>For fans of: Ryan Adams, Jason Isbell, Tom Petty, Butch Walker, and The Tallest Man on Earth.</p>
	</article>
</div>