<header class="closed">
	<div>
		<a href="/"><h1 id="title" class="title">John Patrick Halling</h1></a>
		<div class="burger-house"  id="menu">
			<div class="burger"></div>
		</div>
	</div>
	<div class="header-container">
		<div class="social">
			<a href="https://twitter.com/JPHalling"><i class="fa fa-twitter"></i></a> 
			<a href="https://www.facebook.com/JPHallingMusic"><i class="fa fa-facebook"></i></a> 
			<a href="http://instagram.com/jphalling"><i class="fa fa-instagram"></i></a> 
			<a href="http://jphalling.bandcamp.com/"><i class="fa fa-music"></i></a>
			<hr>
		</div>
		<ul>
			<li><a class="menu-link" href="/">Home</a></li>
			<li><a class="menu-link" href="#news">News</a></li>
			<li><a class="menu-link" href="#music">Music</a></li>
			<li><a class="menu-link" href="#about">About</a></li>
			<li><a class="menu-link" href="#dates">Dates</a></li>
			<li><a class="menu-link" href="#photos">Photos</a></li>
			<li><a class="menu-link" href="#contact">Contact</a></li>
		</ul>
	</div>
	<div class="footer">
		<hr><h1>Boy in the water</h1><hr>
	</div>
</header>