<section id='title'>
	<div class='content title-info'>
		<h1 class='main-title'>John Patrick Halling</h1>
	</div>
</section>
<section id='music'>
	<div class='content'>
		<h1 class="subtitle">New album Boy in the Water out now</h1>
		<div class='bandcamp'>
			<iframe class='player' style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3517985430/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/album/boy-in-the-water">Boy in the Water by John Patrick Halling</a></iframe>
		</div>
		<h1 class="subtitle">Get it on...</h1>
		<div class="sources">
			<a class="music-source" href=""><img src="images/spotify.png"></a>
			<a class="music-source" href="https://geo.itunes.apple.com/us/album/boy-in-the-water/id979967814?"><img src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg"></a>			
			<a class="music-source" href=""><img src="images/bandcamp.png"></a>
		</div>
	</div>
</section>
<section id='tour'>
	<div class="content">
		<div ng-bind-html='tour' class='inject tour'></div>
	</div>
</section>
<section id='videos'>
	<iframe class="video" src="https://www.youtube.com/embed/lHKRzWSe_CY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</section>
<section id='about'>
	<div ng-controller='ContentController' class='content'>
		<article>
			<div class='about-article-bgk'></div>
			<div ng-bind-html='about' class='inject'></div>
		</article>
		<aside class='about-img-container'></aside>
	</div>
</section>