<section id='title'>
	<div class='content title-info'>
		<h1 class='main-title'>John Patrick Halling</h1>
	</div>
</section>
<section id='music'>
	<div class='content'>
		<img class='newalbum' src='images/boyinthewater.jpg'/>
		<div class='bandcamp'>
			<iframe style="border: 0; width: 400px; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3517985430/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/album/boy-in-the-water">Boy in the Water by John Patrick Halling</a></iframe>
		</div>
	</div>
</section>
<section id='tour'></section>
<section id='video'></section>
<section id='about'>
	<div ng-controller='ContentController' class='content'>
		<article>
			<div class='about-article-bgk'></div>
			<div ng-bind-html='about' class='inject'></div>
		</article>
		<aside class='about-img-container'></aside>
	</div>
</section>