<section id='title'>
	<div class='content title-info'>
		<h1 class='main-title'>John Patrick <span>&</span> the Outside Voices</h1>
	</div>
</section>
<section id='bio'>
	<div class='content'>
		<article>
			<div class='about-article-bgk'></div>
			<div ng-bind-html='about' class='inject'></div>
		</article>
		<aside class='about-img-container'></aside>
	</div>
</section>
<section id='music'>
	<div class='content music'>
		<h1 class="subtitle">Boy in the Water Now Available</h1>
		<div class='bandcamp'>
			<iframe class='player' style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3517985430/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/album/boy-in-the-water">Boy in the Water by John Patrick Halling</a></iframe>
		</div>
		<h1 class="subtitle">Get it on...</h1>
		<div class="sources">
			<a class="music-source" href=""><img src="images/spotify.png"></a>
			<a class="music-source" href="https://geo.itunes.apple.com/us/album/boy-in-the-water/id979967814?"><img src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg"></a>
			<a class="music-source" href=""><img src="images/bandcamp.png"></a>
		</div>
	</div>
</section>
<section id='tour'>
	<div class="content">
		<div ng-bind-html='tour' class='inject tour'></div>
	</div>
</section>
<section id='videos'>
	<div ng-bind-html='videos' class='content'></div>
</section>
<section id="contact">
	<div style="margin: auto;">
		<h2 class="cont">What can I do for you?</h2>
    <div class="social">
      <a href="mailto:johnpatrickhalling@gmail.com"><i class="fa fa-envelope-o"></i> johnpatrickhalling@gmail.com</a>
      <a><i class="fa fa-phone"></i>(330) 931-9393</a>
    </div>
		<form action="//formspree.io/johnpatrickhalling@gmail.com"
      method="POST">
	    <div>
        <label>Name</label>
        <input class="contact contact-form" placeholder="John Smith" type="text" name="name"/> </div>
	    <div>
        <label>Email</label>
        <input class="contact contact-form" placeholder="you@email.com" type="email" name="_replyto"/></div>
      <div>
        <label>Message</label>
        <textarea class="contact contact-message" placeholder="Hey there!" type="textarea" name="message"></textarea></div>
    <input class="contact-button" type="submit" value="Send">
</form>
	</div>
</section>
