<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Welcome to the home page of John Patrick Halling">
  <meta name="viewport" content="width=device-width initial-scale=1">
	
	<title>John Patrick Halling</title>
	

	<link rel="stylesheet" type="text/css" href="app.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700' rel='stylesheet' type='text/css'>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/app.js"></script>

</head>

<body>
	<%= yield %>
</body>
</html>