<div class="content">
	<div class="sec">
		<h2 class="section-title">MUSIC</h2>
		<hr class="small-rule">
	</div>
	<div class="center"> 
		<iframe style="border: 0; width: 350px; height: 442px;" src="http://bandcamp.com/EmbeddedPlayer/track=1653365436/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/track/misfit-toys">Misfit Toys by John Patrick Halling</a></iframe>
		<iframe style="border: 0; width: 350px; height: 442px;" src="http://bandcamp.com/EmbeddedPlayer/track=181711743/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/track/where-you-are-single">Where You Are - [Single] by John Patrick Halling</a></iframe>
	</div>
</div>