<div class="content">
	<div class="sec">
		<h2 class="section-title">NEWS</h2>
		<hr class="small-rule">
	</div>

	<!-- Entries -->
	<% @news.each do |event| %>
		<%= get_news(event) %>
	<% end %>
</div>