<div class="content">
	<div class="sec">
		<h2 class="section-title">PHOTOS</h2>
		<hr class="small-rule">
	</div>
	<div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
		<div class="mini"><img class="photo" src="img"></div>
	</div>
</div>