<div class="center">
	<h1 id="splash" class="title">John Patrick Halling</h1>
	<h2 class="section-title">Debut album "Boy In The Water" coming March 31</h2>
	<hr class="small-rule">
		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/lHKRzWSe_CY" frameborder="0" allowfullscreen></iframe>
		</div>
		<div>
			<iframe style="border: 0; width: 500px; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/track=1653365436/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://jphalling.bandcamp.com/track/misfit-toys">Misfit Toys by John Patrick Halling</a></iframe>
		</div>
		<div>
			<a class="enter" href="home">Enter JohnPatrickHalling.com</a>
			<!-- <a class="enter" href="home">or Buy the album on iTunes</a> -->
		</div>
</div>

