<div class="entry">
	<div class="date">
		<span class="d-day">8</span>
		<span class="d-month">FEB</span>
	</div>
	<div class="news">
			<h4 class="news-title">Only two months!</h4>
			<p class="news-content">Hey all! My new album will be out March 31st, that's less than two months away!</p>
	</div>
</div>