<div class="content">
	<div class="sec">
		<h2 class="section-title">CONTACT</h2>
		<hr class="small-rule">
	</div>
	<form action="">
			<div class="sub">
				<span class="center"><img class="tiny-head"></span>
				<p>John Patrick Halling is currently located in Kent, Ohio.</p>
				<span class="contact-social"><label class="social-bubble">T</label><h3 class="social-label">@JPHalling</h3></span>
				<span class="contact-social"><label class="social-bubble">F</label><h3 class="social-label">/JPHallingMusic</h3></span>
				<span class="contact-social"><label class="social-bubble">P</label><h3 class="social-label">(330) 807-3106</h3></span>
			</div>
			<div class="sub">
				<h2 class="form-label req">Name</h2>
				<input class="form-input" type="text" id="name" placeholder="Matt">
				<h2 class="form-label req">Email</h2>
				<input class="form-input" type="text" id="email" placeholder="MrWizard@hogwarts.com"/>
				<h2 class="form-label">Phone</h2>
				<input class="form-input" type="text" id="number" placeholder="330"/>
				<h2 class="form-label req">Message</h2>
				<textarea id="conent" class="form-input" id="message" placeholder="hi, John"></textarea>
				<div>
					<button class="button" id="send">Send</button>
				</div>
			</div>
	</form>
</div>
