<div class="content">
	<div class="sec">
		<h2 class="section-title">DATES</h2>
		<hr class="small-rule">
	</div>

	<!-- Entries -->
	<%= erb :'_nentry' %>
	<%= erb :'_nentry' %>
	<%= erb :'_nentry' %>
</div>