<header class="closed">
	<div>
		<h1 id="title" class="title">John Patrick Halling</h1>
		<div class="burger-house"  id="menu">
			<div class="burger"></div>
		</div>
	</div>
	<div class="header-container">
		<div class="social">
			<a href="">Tw</a>
			<a href="">Fb</a>
			<a href="">In</a>
			<a href="">Yt</a>
			<hr>
		</div>
		<ul>
			<li><a class="menu-link" href="#news">News</a></li>
			<li><a class="menu-link" href="#about">About</a></li>
			<li><a class="menu-link" href="#dates">Dates</a></li>
			<li><a class="menu-link" href="#music">Music</a></li>
			<li><a class="menu-link" href="#videos">Photos</a></li>
			<li><a class="menu-link" href="#contact">Contact</a></li>
		</ul>
	</div>
	<div class="footer">
		<hr><h1>Boy in the water</h1><hr>
	</div>
</header>