<%= erb :header %>
<section id="news"><%= erb :news %></section>
<section id="about"><%= erb :about %></section>
<section id="dates"></section>
<section id="music"></section>
<section id="videos"></section>
<section id="contact"><%= erb :contact %></section>
