<header class="open">
	<div>
		<h1 class="title">John Patrick Halling</h1>
	</div>	
	<div class="header-container">
		<ul>
			<li><a href="#about">About</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#dates">Dates</a></li>
			<li><a href="#music">Music</a></li>
			<li><a href="#videos">Videos</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
	<div class="footer">
		<hr><h1>Boy in the water</h1><hr>
	</div>
</header>


<select id="about">
	
</select>


<select id="news">
	
</select>

<select id="dates">
	
</select>

<select id="music">
	
</select>

<select id="videos">
	
</select>

<select id="contact">
	
</select>