<footer>
	<div class="copyright">
		Copyright John Patrick Halling 2014
	</div>
	<div class="social-block">
		<span class="social">In</span>
		<span class="social">Tw</span>
		<span class="social">Fb</span>
		<span class="social">Sc</span>
		<span class="social">Sp</span>
		<span class="social">Em</span>
	</div>
</footer>