<!-- Header -->
<header>
	<div class="name">
		<h2>John Patrick Halling</h2>	
	</div>
	<div class="options">
		<span class="selection"><a class="option-link" href="/bio">Bio</a></span>
		<span class="selection"><a class="option-link" href="/gigs">Gigs</a></span>
		<span class="selection"><a class="option-link" href="/music">Music</a></span>
		<span class="selection"><a class="option-link" href="/videos">Videos</a></span>
		<span class="selection"><a class="option-link" href="/photos">Photos</a></span>
		<span class="selection"><a class="option-link" href="/contact">Contact</a></span>
	</div>
</header>
