/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Perpetua";
  src: url("../fonts/Perpetua.ttf") format("truetype"); }
/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */
/**
 * Burger
 */
/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }

.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .content:last-child {
    margin-right: 0; }

.full {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 100%; }
  .full:last-child {
    margin-right: 0; }

.sub {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 48.57871%;
  margin-top: 20px;
  margin-bottom: 20px; }
  .sub:last-child {
    margin-right: 0; }
  .sub:nth-child(2) {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .sub {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      display: block; }
      .sub:last-child {
        margin-right: 0; } }

.mini {
  margin-top: 20px;
  overflow: hidden;
  height: 300px;
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 31.43828%; }
  .mini:last-child {
    margin-right: 0; }
  .mini:nth-child(3n) {
    margin-right: 0; }
  .mini:nth-child(3n+1) {
    clear: left; }
  @media screen and (max-width: 800px) {
    .mini {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%; }
      .mini:nth-child(3n) {
        margin-right: 2.35765%; }
      .mini:nth-child(3n+1) {
        clear: none; }
      .mini:last-child {
        margin-right: 0; }
      .mini:nth-child(2n) {
        margin-right: 0; }
      .mini:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 480px) {
    .mini {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      margin-right: 0; }
      .mini:last-child {
        margin-right: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: url("/img/ac_l.jpg");
  background-position: 0;
  background-position: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: 0;
  color: #272822; }
  body::selection {
    background-color: #63A7CD; }
  body::-moz-selection {
    background-color: #63A7CD; }

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14pt;
  line-height: 18pt;
  margin-top: 15px;
  margin-bottom: 15px; }

section {
  background-color: rgba(230, 230, 230, 0.9); }

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  header ul {
    padding: 10px; }
  header li {
    font-family: "Perpetua";
    font-size: 24pt;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  header a {
    color: #D7D6DC;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s; }
    header a:hover {
      color: #63A7CD; }

iframe {
  margin: 15px; }

header.closed {
  height: 75px; }
  header.closed .footer {
    opacity: 0; }

header.open {
  height: 100%; }
  header.open .footer {
    opacity: 1; }

.bold {
  font-weight: 400; }

.header-container {
  height: calc(100% - 150px); }

.burger-house {
  position: fixed;
  top: 0;
  right: 0;
  height: 25px;
  margin: 25px; }
  .burger-house:hover {
    cursor: pointer; }

.burger {
  position: absolute;
  user-select: none;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px; }
  .burger, .burger:before, .burger:after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #272822;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .burger:before, .burger:after {
    position: absolute;
    content: ""; }
  .burger:before {
    top: -8px; }
  .burger:after {
    top: 8px; }

.burger-closed > .burger {
  background-color: transparent; }
.burger-closed > .burger:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
.burger-closed > .burger:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }

.social {
  padding: 15px; }
  .social a {
    font-size: 20pt;
    padding: 5px; }
  .social hr {
    width: 100px;
    height: 1px;
    border: 0;
    background-color: #272822; }

.footer {
  height: 75px;
  line-height: 75px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  .footer hr {
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: #272822;
    border: 0;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (max-width: 480px) {
      .footer hr {
        width: 50px; } }
  .footer h1 {
    font-family: "Perpetua";
    text-transform: uppercase;
    display: inline-block;
    font-size: 18pt; }
    @media screen and (max-width: 480px) {
      .footer h1 {
        font-size: 14pt; } }

.open > .footer {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.title {
  font-family: "Perpetua";
  color: #272822;
  font-size: 32pt;
  height: 75px;
  line-height: 75px;
  text-transform: uppercase;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  transition: font-size 0.2s; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 18pt; } }

.form-label {
  font-family: "Perpetua";
  font-weight: bold;
  color: #272822;
  font-size: 16pt;
  margin-bottom: 5px;
  margin-top: 5px; }

.form-input {
  width: 100%;
  height: 40px;
  font-size: 16pt;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px;
  font-family: "Perpetua";
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .form-input:focus {
    outline: none;
    border-color: #63A7CD; }

.error {
  border-color: #713741;
  color: #713741; }

.req:after {
  margin-left: 5px;
  content: "(Required)";
  color: #713741;
  font-size: 12pt; }

textarea.form-input {
  height: 100px;
  resize: none; }

.small-rule {
  width: 100px;
  height: 1px;
  border: 0;
  color: #272822;
  background-color: #272822;
  margin-bottom: 25px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  transition: width 0.2s; }
  @media screen and (max-width: 480px) {
    .small-rule {
      width: 65px; } }

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Perpetua";
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 18pt;
  background-color: #63A7CD;
  border: none;
  color: white;
  cursor: pointer; }
  .button:focus {
    outline: 0; }

.sec {
  text-align: center;
  margin-top: 100px; }

.section-title {
  font-family: "Perpetua";
  font-size: 24pt;
  text-align: center;
  display: inline-block;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 20pt; } }

.contact-social {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px; }

.contact-subtitle {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18pt;
  margin-top: 25px;
  margin-bottom: 5px; }

.social-label {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  display: inline-block;
  margin-left: 15px; }

.social-bubble {
  display: inline-block;
  cursor: pointer;
  background-color: #713741;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 45px;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700; }

.enter {
  font-family: "Perpetua";
  font-size: 32pt;
  color: white;
  text-decoration: none;
  display: block; }
  .enter:hover {
    color: #272822; }

/* Images
*/
.about-img {
  max-width: 400px;
  width: 100%;
  margin: 15px;
  height: auto;
  border-radius: 200px;
  background-color: #272822;
  float: right; }
  @media screen and (max-width: 800px) {
    .about-img {
      float: none; } }

.center {
  display: block;
  width: 100%;
  text-align: center; }

.tiny-head {
  height: 150px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 75px;
  background-color: #63A7CD; }

.contact-tag {
  text-align: center; }

.photo {
  width: 100%; }

.date {
  position: absolute;
  top: calc(50% - 37.5px);
  left: 0;
  background-color: #713741;
  height: 75px;
  width: 75px;
  border-radius: 75px;
  text-align: center;
  overflow: none;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  @media screen and (max-width: 480px) {
    .date {
      height: 50px;
      width: 50px;
      top: calc(50% - 25px);
      border-radius: 50px; } }

.d-day {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: block;
  font-size: 24pt;
  width: 100%;
  height: 45px;
  line-height: 50px; }
  @media screen and (max-width: 480px) {
    .d-day {
      font-size: 18pt;
      height: 30px;
      line-height: 35px; } }

.d-month {
  position: relative;
  font-family: "Perpetua";
  display: block;
  width: 100%;
  height: 30px; }
  @media screen and (max-width: 480px) {
    .d-month {
      height: 20px;
      font-size: 10pt; } }

.news {
  margin-left: 100px; }
  @media screen and (max-width: 480px) {
    .news {
      margin-left: 50px; } }

.news-title {
  font-family: "Perpetua";
  font-size: 18pt; }

.news-content {
  font-size: 14pt; }

.entry {
  position: relative;
  padding: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #272822; }

/*# sourceMappingURL=app.css.map */
