.date {
	position: absolute;
	top: calc(50% - 37.5px);
	left: 0;
	background-color: $red;
	height: 75px;
	width: 75px;
	border-radius: 75px;
	text-align: center;
	overflow: none;
	color: white;

	@include transition(all 0.2s);

	@include media($mobile) {
		height: 50px;
		width: 50px;
		top: calc(50% - 25px);
		border-radius: 50px;
	}
}

.d-day {
	position: relative;
	@include sans-bold;
	display: block;
	font-size: 24pt;
	width: 100%;
	height: 45px;
	line-height: 50px;

	@include media($mobile) {
		font-size: 18pt;
		height: 30px;
		line-height: 35px;
	}
}

.d-month {
	position: relative;
	@include serif;
	display: block;
	width: 100%;
	height: 30px;

	@include media($mobile) {
		height: 20px;
		font-size: 10pt;
	}
}

.news {
	margin-left: 100px;

	@include media($mobile) {
		margin-left: 50px;
	}
}

.news-title {
	@include serif;
	font-size: 18pt;
}

.news-content {
	font-size: 12pt;

}

.entry {
	position: relative;
	padding: 15px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $black;
}
