body {
	@include sans;
	background-color: navy;
	margin-top: 100px;
}

header {
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	background-color: white;
	overflow: hidden;
	
	@include transition(height 0.4s $ease-in-out-quint);

	ul {
		padding: 10px;
	}
	li {
		@include serif;
		font-size: 24pt;
		margin: 15px 0 15px 0;
		text-transform: uppercase;
	}

	a {
		color: grey;
		text-decoration: none;

		&:hover {
			color: black;
		}
	}
}

header.closed {
	height: 75px;

	.footer {
		opacity: 0
	}
}

header.open {
	height: 100%;
	
	.footer {
		opacity: 1;
	}
}

.burger-house {
	position: fixed;
	top: 0;
	right: 0;
	height: 25px;
	margin: 25px;

	&:hover {
		cursor: pointer;
	}
}

.burger {
	position: absolute;
	@include burger(25px, 3px, 5px, black);
}

.burger-closed > .burger {
	@include burger-to-cross;
}

.social {
	font-size: 16	pt;
	padding: 15px;
	hr {
		width: 100px;
		height: 1px;
		border: 0;
		background-color: black;
	}
}

.footer {
	
	height: 75px;
	line-height: 75px;

	@include transition(all 0.2s);

	hr {
		display: inline-block;
		height: 1px;
		width: 100px;
		background-color: black;
		border: 0;
		margin-left: 15px;
		margin-right: 15px;

		@include media($mobile) {
			width: 50px;
		}
	}

	h1 {
		@include serif;
		text-transform: uppercase;
		display: inline-block;
		font-size: 18pt;

		@include media($mobile) {
			font-size: 14pt;
		}
	}
}

.open > .footer {
	@include transition(all 0.3s);	
	@include transition-delay(0.2s);
}

.header-container {
	height: calc(100% - 150px);
}

.title {
	@include serif;
	font-size: 32pt;
	height: 75px;
	line-height: 75px;
	text-transform: uppercase;

	@include media($mobile) {
		font-size: 18pt;
	}
}

.outer {
	@include outer-container();
}

form {
	h2 {
		@include sans;
		color: white;
		font-size: 18pt;
	}
}