@import "bourbon/bourbon";
@import "neat/neat";
@import "grid";

$mobile: new-breakpoint(max-width 480px);
$middle: new-breakpoint(max-width 850px);
$desktop: new-breakpoint(min-width 850px);
    
@mixin sans {
	font-family: Helvetica Neue;
}

@mixin serif {
	font-family: Baskerfield;
}

@mixin blur($level) {
	-webkit-filter: blur($level); 
	-moz-filter: blur($level); 
	-o-filter: blur($level); 
	-ms-filter: blur($level); 
	filter: blur($level);
}

@mixin no-magins-padding {
	margin: 0;
	padding: 0;
}

@mixin inline {
	float: left;
	display: inline-block;
	width: 50%;
}

// ----------------------

body {
	background-color: RGBA(44, 44, 44, 1);
}

footer {
	@include sans;
	font-size: 9pt;
	position: fixed;
	bottom: 0%;
	right: 0%;
	margin: 0 auto;


	color: white;
	width: 100%;
	
	.copyright, .social-block {
		display: inline-block;
		float: left;
		@include no-magins-padding;
	}

	.copyright {
		width: 50%;
		text-align: left;
	}

	.social-block {
		width: 50%;
		text-align: right;
	}

	#designer {
		text-decoration: none;
		color: white;

		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}

.selection {
	margin: 5px;
}


.option-link {
		text-decoration: none;
		color: grey;
		font-size: 16pt;
		@include media($mobile) {
			font-size: 12pt;
		}
	&:hover {
		text-decoration: none;
		color: white;
	}
}

header {
	@include no-magins-padding;
	@include sans;
	@include outer-container;
	color: white;
	
	div.name {
		@include span-columns(5);
		h2 {
			text-align: left;
			font-size: 24pt;
			@include no-magins-padding;

			@include media($middle) {
				text-align: center;
				// font-size: 18pt;
			}
		}
		@include media($middle) {
			@include span-columns(12);
		}
	}

	div.options {
		@include span-columns(7);
		text-align: right;
		@include media($middle) {
			text-align: center;
			@include span-columns(12);
		}
	}

	div {
		@include no-magins-padding;
	}
}

// Bio

.bio {
	@include span-columns(6);
	@include no-magins-padding;
	color: white;
	text-align: justify;
	height: 300px;

	@include media($middle) {
		@include span-columns(11);
		@include shift(0.5);
	}
}



.quote {
	@include span-columns(6);
	@include shift(3);
	font-size: 18pt;
	@include media($middle) {
		font-size: 16pt;
	}
	@include media($mobile) {
		@include span-columns(12);
		@include shift(0);
		font-size: 12pt;
	}

	@include serif;
	text-align: center;
	font-style: italic;
	font-weight: 200;
	color: white;
}

.img-holder {
	text-align: center;
		@include media($middle) {
			height: 200px;
	}
}

#tweet {
	height: 100px;
	@include media($mobile) {
		height: 50px;
	}
}

.tweet-block {
	margin-top: 10px;
	@include outer-container;
	.tweet {
		@include span-columns(6);
		@include shift(3);
		font-size: 18pt;
		@include media($middle) {
			font-size: 16pt;
		}
		@include media($mobile) {
			@include span-columns(12);
			@include shift(0);
			font-size: 12pt;
		}

		@include serif;
		text-align: center;
		font-style: italic;
		font-weight: 200;
		color: white;
	}
}

.contact-housing {
	margin-top: 30px;
}

.content {
	@include outer-container;
	@include sans;
}

.title-input {
	@include sans;
	margin: 0 auto;
	margin-top: 10px;
	color: white;
	font-size: 18pt;
}

.input {
	&:focus {
		outline: none;		
	}
}

.text-input {
	width: 100%;
	height: 40px;
	background-color: rgba(40, 40, 40, 0.568627);
	border: none;
	margin: 0 auto;
	font-size: 18pt;
	@include sans;
	color: white;
}

.long-text-input {
	background-color: rgba(40, 40, 40, 0.568627);
	border: none;
	width: 100%;
	height: 100px;
	@include sans;
	font-size: 18pt;
	color: white;
	text-align: left;
	resize: none;
}