@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

section {
	@include outer-container();
}

.content {
	@include span-columns(10);
	@include shift(1);
}

.full {
	@include span-columns(10 of 10);
}

.sub {
	@include span-columns(5 of 10);
	@include omega(2);

	margin-top: 20px;
	margin-bottom: 20px;

	@include media($little) {
		@include span-columns(10 of 10);
		display: block;
	}
}


.mini {
	@include span-columns(10/3 of 10);
	@include omega(3n);

	@include media($little) {
		@include omega-reset(3n);
		@include span-columns(5 of 10);
		@include omega(2n);
	}

	@include media($mobile) {
		@include span-columns(10 of 10);
		@include omega();
	}
}