a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ol, ul, u, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

body {
  line-height: 1;
  font-family: Helvetica,Arial,Sans-Serif; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding-top: 30px; }

.global-container {
  width: 90%; }
  @media screen and (min-width: 480px) {
    .global-container {
      max-width: 930px;
      margin: 0 auto;
      display: block; } }
  @media screen and (min-width: 1335px) {
    .global-container {
      max-width: 1160px;
      padding-right: 230px; } }

.content {
  margin: 0; }
  @media screen and (min-width: 480px) {
    .content {
      margin-left: 230px; } }

.left {
  float: left;
  display: inline-block; }
  @media screen and (min-width: 1035px) {
    .left {
      float: none; } }

.right {
  float: right;
  display: inline-block; }
  @media screen and (min-width: 1035px) {
    .right {
      float: none; } }

nav {
  display: none;
  width: 230px;
  margin: 0;
  float: left;
  z-index: 100;
  padding-right: 30px;
  text-align: right;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14pt; }
  @media screen and (min-width: 480px) {
    nav {
      display: block; } }
  nav iframe {
    transition: opacity 0.3s;
    opacity: 0; }
  nav .title {
    font-size: 24pt;
    font-weight: 700; }
  nav .author {
    margin: 30px 0 30px 0;
    font-size: 9pt;
    font-style: italic; }
  nav .menu-main li {
    margin: 10px 0 10px 0; }
    nav .menu-main li a {
      text-decoration: none;
      color: #333333; }
      nav .menu-main li a:hover {
        text-decoration: underline; }
  nav .menu-social ul {
    text-align: right;
    margin: 30px 0 30px 0; }
    nav .menu-social ul li {
      display: inline;
      margin-left: 10px; }
      nav .menu-social ul li a {
        text-decoration: none;
        color: #333333; }

body {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12pt; }

body {
  -webkit-animation: fadeIn 0.5s ease-in;
  -moz-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in; }

#title {
  -webkit-animation: fadeIn 0.75s ease-in;
  -moz-animation: fadeIn 0.75s ease-in;
  animation: fadeIn 0.75s ease-in; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.feed {
  text-align: center;
  overflow: hidden; }

.feed-more {
  font-size: 12pt;
  text-align: right;
  margin: 30px 0 30px 0;
  font-style: italic; }

body {
  background-color: #E4E4E4; }

.insta-photo {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: inline-block;
  perspective: 1000px;
  -webkit-perspective: 1000px; }
  .insta-photo .paralax {
    opacity: 0;
    height: 100%;
    width: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .insta-photo .paralax:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (min-width: 1035px) {
    .insta-photo {
      float: left; } }
  .insta-photo.ip {
    margin: 10px; }
    @media screen and (min-width: 1035px) {
      .insta-photo.ip {
        margin: 0;
        height: 200px;
        width: 200px; }
        .insta-photo.ip:nth-of-type(1) {
          height: 450px;
          width: 450px;
          margin: 0 50px 50px 0; }
        .insta-photo.ip:nth-of-type(2) {
          margin-bottom: 50px; }
        .insta-photo.ip:nth-of-type(3) {
          margin-bottom: 0; }
        .insta-photo.ip:nth-of-type(4) {
          margin-right: 50px; }
        .insta-photo.ip:nth-of-type(5) {
          margin-right: 50px; }
        .insta-photo.ip:nth-of-type(6) {
          margin: 0; } }
  @media screen and (min-width: 1035px) {
    .insta-photo.ip-l {
      height: 200px;
      width: 200px;
      margin-bottom: 100px; }
      .insta-photo.ip-l:last-of-type {
        margin-bottom: 0; } }
  @media screen and (min-width: 1035px) {
    .insta-photo.ip-b {
      height: 200px;
      width: 200px;
      margin: 0;
      margin-right: 100px; }
      .insta-photo.ip-b:last-of-type {
        margin: 0; } }

/*# sourceMappingURL=app.css.map */
