<div class="tweet-block">
	<div class="tweet">
		<div id = "tweet">
			<div class="loader">
			  <svg version="1.1" id="Layer_1" x="0px" y="0px"
			     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			    <rect x="0" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			    <rect x="7" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0.2s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			    <rect x="14" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0.4s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			  </svg>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="bio img-holder">
		<img class = "bio-img" src="/img/jph.jpg"/ height="300" width=auto>
	</div>
	<div class="bio">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend facilisis lacus, in finibus felis faucibus sit amet. Aliquam imperdiet ante in dignissim dapibus. Nullam eleifend, velit ac imperdiet lobortis, eros quam lacinia metus, sit amet faucibus orci elit varius velit. In a massa non metus sagittis semper. Maecenas tempus libero sed nibh euismod rhoncus. Nunc at augue eget odio tincidunt ultricies. Quisque tincidunt eros vitae cursus fermentum. Ut sollicitudin in sem vitae faucibus. Mauris eu dui dignissim nisi lacinia commodo. Phasellus eleifend ultrices nisi non elementum. Proin lacus risus, tempus id consequat eget, porta a lectus. Suspendisse risus risus, bibendum quis risus eget, volutpat vestibulum libero. Praesent a scelerisque est, nec lacinia diam. In sit amet felis arcu. Quisque pulvinar lectus ex, sit amet scelerisque ex laoreet vitae. Vivamus lacinia tristique malesuada.
		</p>
	</div>
	
	<div class="quote">
		<p>
			"This guy flat out clocked me out"
		</p>
	</div>
</div>