<body>
	<div class="centered-6 contact-housing outer">
		<form action="" method="post">
			<div>
				<div><h2 class="title-input">What are we talking about?</h2 class="title-input"></div>
				<input class="input text-input" name="subject" type="text" placeholder="I got an idea...">
			</div>
			<div>
				<div><h2 class="title-input">How should I contact you?</h2 class="title-input"></div>
				<input class="input text-input" name="email" type="text" placeholder="MrWizard@hogwarts.com">
			</div>
			<div>
				<div><h2 class="title-input">Tell me a bit about what you need.</h2 class="title-input"></div>
				<textarea class="input long-text-input" placeholder="hi"></textarea>
			</div>
		</form>
	</div>
</body>