<body>
	<form action="" method="post">
			<input type="submit" value="Send it!">
	</form>

	<button onclick="sendEmail()">Email</button>
	<button onclick="getTweets()">Next Tweet</button>

	<p id="tweet">	
	</p>
</body>