<!-- Twitter -->
<div class="tweet-block">
	<div class="tweet">
		<div id = "tweet">
			<div class="loader">
			  <svg version="1.1" id="Layer_1" x="0px" y="0px"
			     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			    <rect x="0" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			    <rect x="7" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0.2s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			    <rect x="14" y="0" width="4" height="20" fill=white>
			      <animate attributeName="opacity" attributeType="XML"
			        values="1; .2; 1" 
			        begin="0.4s" dur="0.6s" repeatCount="indefinite" />
			    </rect>
			  </svg>
			</div>
		</div>
	</div>
</div>
<!-- Bio -->
<div class="content">
	<div class="bio img-holder">
		<img class = "bio-img" src="/img/jph.jpg"/ height="300" width=auto>
	</div>
	<div class="bio">
		<p>
			Name: John Patrick Halling.
		</p>
		<p>
			Born: Octover 9, 1992.
		</p>
		<p>
			John Patrick Halling is an up and coming singer-songwriter based out of Northeast Ohio. Characterized by his Midwestern charm and dynamic vocal tone, the crooner is quickly turning heads across the region.
		</p>
		<p>
			He’ll  tap your toes into a barroom blues, spin you through a haze of lyrical wit, and dip you down into a slow serenade. Before the end of the night, you’ll be singing back the words to the cleverly-crafted hooks he cast inside your head. Halling’s defining vocal tone separates him from most artists, drawing him comparisons to internationally successful acts such as Brett Dennen and The Tallest Man on Earth.
		</p>
	</div>
	<div class="quote">
		<p>
			"This guy flat knocked me out. Hank Williams, Townes Van Zant, and a bit of Waylon Jennings gotta’ be swimmin’around in his musical DNA… <br><span class="source">- John Gouskos, local 	musician.</span>
		</p>
	</div>
</div>
<!-- Schedule -->
<div class="schedule">
	<h2 class="name">UPCOMING SHOWS</h2>
	<p>January 9th - Private Event - Stow, OH</p>
	<p>January 14th - Brent Kirby’s 10x3 - Cleveland, OH</p>
	<p>January 17th - Stone Tavern - Kent, OH </p>
	</p>
</div>
<!-- Contact -->
<div>
	<div class="centered-6 contact-housing outer">
		<form action="">
			<div>
				<div><h2 class="title-input">What are we talking about?</h2 class="title-input"></div>
				<input id="subject" class="input text-input" name="subject" type="text" placeholder="I got an idea...">
			</div>
			<div>
				<div><h2 class="title-input">How should I contact you?</h2 class="title-input"></div>
				<input id = "email" class="input text-input" name="email" type="text" placeholder="emailAddress@creative.com">
			</div>
			<div>
				<div><h2 class="title-input">Tell me a bit about what you need.</h2 class="title-input"></div>
				<textarea id="content" class="input long-text-input" placeholder="hi. john"></textarea>
			</div>
		</form>
		<div>
			<button id="submit" onclick="sendEmail()" class="submit">Send it!</button>
		</div>
	</div>
</div>