<head>
	<title>John Halling <%= page_title %> </title>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>

<body class="outer">
	<%= erb :'partials/header' %>
	<%= yield %>
</body>