/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.huge {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .huge:last-child {
    margin-right: 0; }

.outer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer:after {
    content: "";
    display: table;
    clear: both; }

.centered-full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-full:last-child {
    margin-right: 0; }

.centered-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-12:last-child {
    margin-right: 0; }

.centered-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%; }
  .centered-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-11 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-11:last-child {
        margin-right: 0; } }

.centered-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .centered-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-10:last-child {
        margin-right: 0; } }

.centered-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%; }
  .centered-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-9:last-child {
        margin-right: 0; } }

.centered-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .centered-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-8:last-child {
        margin-right: 0; } }

.centered-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 21.32451%; }
  .centered-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-7:last-child {
        margin-right: 0; } }

.centered-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .centered-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 12.79471%; }
      .centered-6:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .centered-6:last-child {
        margin-right: 0; } }

.centered-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 29.85432%; }
  .centered-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-5:last-child {
        margin-right: 0; } }

.centered-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%; }
  .centered-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-4:last-child {
        margin-right: 0; } }

.centered-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 38.38412%; }
  .centered-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-3:last-child {
        margin-right: 0; } }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .half:last-child {
        margin-right: 0; } }

.third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .third:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .third:last-child {
        margin-right: 0; } }

.third-fixed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third-fixed:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .third-fixed {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .third-fixed:last-child {
        margin-right: 0; } }

body {
  background-color: RGBA(44, 44, 44, 1); }

footer {
  font-family: Helvetica Neue;
  font-size: 9pt;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 0 auto;
  color: white;
  width: 100%; }
  footer .copyright, footer .social-block {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0; }
  footer .copyright {
    width: 50%;
    text-align: left; }
  footer .social-block {
    width: 50%;
    text-align: right; }
  footer #designer {
    text-decoration: none;
    color: white; }
    footer #designer:hover {
      text-decoration: underline;
      color: white; }

.selection {
  margin: 5px; }

.option-link {
  text-decoration: none;
  color: grey;
  font-size: 16pt; }
  @media screen and (max-width: 480px) {
    .option-link {
      font-size: 12pt; } }
  .option-link:hover {
    text-decoration: none;
    color: white; }

header {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header div.name {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    header div.name:last-child {
      margin-right: 0; }
    header div.name h2 {
      text-align: left;
      font-size: 24pt;
      margin: 0;
      padding: 0; }
      @media screen and (max-width: 850px) {
        header div.name h2 {
          text-align: center; } }
    @media screen and (max-width: 850px) {
      header div.name {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header div.name:last-child {
          margin-right: 0; } }
  header div.options {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    text-align: right; }
    header div.options:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      header div.options {
        text-align: center;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header div.options:last-child {
          margin-right: 0; } }
  header div {
    margin: 0;
    padding: 0; }

.bio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0;
  padding: 0;
  color: white;
  text-align: justify;
  height: 300px; }
  .bio:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .bio {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .bio:last-child {
        margin-right: 0; } }

.quote {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  font-size: 18pt;
  font-family: Baskerfield;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  color: white; }
  .quote:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .quote {
      font-size: 16pt; } }
  @media screen and (max-width: 480px) {
    .quote {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      font-size: 12pt; }
      .quote:last-child {
        margin-right: 0; } }

.img-holder {
  text-align: center; }
  @media screen and (max-width: 850px) {
    .img-holder {
      height: 200px; } }

#tweet {
  height: 100px; }
  @media screen and (max-width: 480px) {
    #tweet {
      height: 50px; } }

.tweet-block {
  margin-top: 10px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .tweet-block:after {
    content: "";
    display: table;
    clear: both; }
  .tweet-block .tweet {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    font-size: 18pt;
    font-family: Baskerfield;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    color: white; }
    .tweet-block .tweet:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      .tweet-block .tweet {
        font-size: 16pt; } }
    @media screen and (max-width: 480px) {
      .tweet-block .tweet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        font-size: 12pt; }
        .tweet-block .tweet:last-child {
          margin-right: 0; } }

.contact-housing {
  margin-top: 30px; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica Neue; }
  .content:after {
    content: "";
    display: table;
    clear: both; }

.title-input {
  font-family: Helvetica Neue;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  font-size: 18pt; }

.input:focus {
  outline: none; }

.text-input {
  width: 100%;
  height: 40px;
  background-color: rgba(40, 40, 40, 0.56863);
  border: none;
  margin: 0 auto;
  font-size: 18pt;
  font-family: Helvetica Neue;
  color: white; }

.long-text-input {
  background-color: rgba(40, 40, 40, 0.56863);
  border: none;
  width: 100%;
  height: 100px;
  font-family: Helvetica Neue;
  font-size: 18pt;
  color: white;
  text-align: left;
  resize: none; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.huge {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .huge:last-child {
    margin-right: 0; }

.outer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer:after {
    content: "";
    display: table;
    clear: both; }

.centered-full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-full:last-child {
    margin-right: 0; }

.centered-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-12:last-child {
    margin-right: 0; }

.centered-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%; }
  .centered-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-11 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-11:last-child {
        margin-right: 0; } }

.centered-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .centered-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-10:last-child {
        margin-right: 0; } }

.centered-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%; }
  .centered-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-9:last-child {
        margin-right: 0; } }

.centered-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .centered-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-8:last-child {
        margin-right: 0; } }

.centered-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 21.32451%; }
  .centered-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-7:last-child {
        margin-right: 0; } }

.centered-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .centered-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 12.79471%; }
      .centered-6:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .centered-6:last-child {
        margin-right: 0; } }

.centered-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 29.85432%; }
  .centered-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-5:last-child {
        margin-right: 0; } }

.centered-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%; }
  .centered-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-4:last-child {
        margin-right: 0; } }

.centered-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 38.38412%; }
  .centered-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-3:last-child {
        margin-right: 0; } }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .half:last-child {
        margin-right: 0; } }

.third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .third:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .third:last-child {
        margin-right: 0; } }

.third-fixed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third-fixed:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .third-fixed {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .third-fixed:last-child {
        margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
